// font sizes only!

.xxs {
	font-size: var(--h-xxs, 16px);
}

.xs {
	font-size: var(--h-xs, 18px);
}

.sm {
	font-size: var(--h-sm, 24px);
}

.md {
	font-size: var(--h-md, 26px);
}

.lg {
	font-size: var(--h-lg, 36px);
}

.xl {
	font-size: var(--h-xl, 40px);
}

.xxl {
	font-size: var(--h-xxl, 50px);
}